/* ==========================================================================
    Imports
   ========================================================================== */
@import "bootstrap/bootstrap.less";
@import "flexslider/flexslider.less";

/* ==========================================================================
    Variaveis
   ========================================================================== */
@images: "../images";

//Cores & Fontes
@verde: #a6ae39;
@verde-claro: #EFFB50;
@font-menu: #393C13;
@font-breadcrump: #393C13;
@font-sub-menu: #767b27;
@border-green: #EEF684;
@bg-post: #FAFAFA;
@verde-escuro: #393C13;
@cinza-claro: #FAFAFA;
@roboto: 'Roboto', sans-serif;
@border-gray: 2px solid #FAFAFA;

/* ==========================================================================
    Definições
   ========================================================================== */
strong {
  font-weight: 700;
}

.font(@font: 'Roboto', sans-serif;@size: 20px;@color: #000000;@peso:300) {
  font-family: @font;
  color: @color;
  font-size: @size;
  font-weight: @peso;
}

.bold-simple {
  font-size: 10px;
  color: #000000;
  font-weight: bold;
}

.regular-large {
  font-size: 18px;
  color: #000000;
  font-weight: 300;
  //book
}

.regular-medium {
  font-size: 15px;
  color: #000000;
  font-weight: 300;
  //book
}

.roboto {
  font-family: @roboto;

  &.bold {
    font-weight: 700;
  }
  normal {
    font-weight: 400;
  }
  light {
    font-weight: 300;
  }
}

.clear-link(@color:#000000) {
  a {
    &, &:hover, &:active {
      text-decoration: none;
      color: @color;
    }
  }
}

.clear-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.clear-sides {
  padding: 0;
  margin: 0;
}

.container {
  font-family: @roboto;
}

.main-container {
  position: relative;
}

.related-posts{
  margin-top:5px !important;
}
.post-featured{
  margin-bottom:5px !important;
}

.font-menu {
  color: @font-menu;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 89px;
  white-space: nowrap;
}

.font-breadcrump {
  color: @font-breadcrump;
  font-size: 25px;
  text-transform: uppercase;
}

.font-post-title {
  font-size: 40px;
  color: #000000;
}

.destaque {
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
}

.home-section {
  margin-bottom: 20px;
}

.slider-featured-post .flex-direction-nav {
  display: none;
}

//Container
.home-container {

  padding: 0 10px;

  @media (min-width: @screen-xs-min) {
    padding: 0 10px;
  }
  @media (min-width: @screen-sm-min) {
    padding: 0;
  }

}

.widgettitle {
  display: none !important;
}

.widget_text {
  .clear-list;
}

.post-thumbnail {
  img {

    @media (max-width: @screen-md) {
      margin: 0 auto;
    }
  }
}

/* ==========================================================================
    HEADER
   ========================================================================== */
.header {
  .font-menu;
  height: 153px; /*    padding: 0 25px;*/
  position: relative;
}

.logo {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  img{
    padding:0 10px;
  }
}

.menu-button {
  position: absolute;
  top: 105px;
  right: 37px;
  z-index: 9999;
  padding: 9px 10px;
  background-color: transparent;
  background-image: none;
  border: none;
  outline: none;
  &.open{
    position:fixed;
  }

  .icon-bar {
    display: block;
    width: 32px;
    height: 4px;
    border-radius: 1px;
    background-color: #000;
  }
  .icon-bar + .icon-bar {
    margin-top: 4px;
  }
  &:active, &:focus {
    border: none;
  }
}

.menu {
  .roboto;
  height: 100%;
  position: fixed;
  top: 0;
  right: -500px;
  background: @verde-claro;
  z-index: @zindex-modal;
  width: 320px;
  .transition(all .15s linear);
  ul {
    margin-top: 140px;
    padding: 0;
    li {
      margin-right: 22px;
      text-align: right;
      list-style: none;
      .clear-link(#393c13);

      #searchform {
        margin-top: 50px;
      }
      input {
        line-height: 25px;
        border: 1px solid @border-green;
        width: 210px;
      }
      a {
        text-transform: uppercase;
        padding: 10px;
        display: block;
        .transition(all ease 300ms);
        &:hover {
          padding-right: 25px
        }
      }
    }
    li:first-child {
      margin-top: 0px;
    }
    .sub-menu {
      margin-top: -10px;
      li {
        a {
          font-size: 12px;
          padding: 5px 10px;
          &:hover {
            padding-right: 15px;
            &:after {
              content: '-';
            }
          }
        }
      }
    }
  }
}

.menu.is_open {
  right: 0;
}

.cat-mais.category-post{
  width:20.5% !important;
}

#sound:before {
  content: " ";
  display: inline-block;
  //width: 13px;
  // height: 12px;
  .size(13px, 12px);
  background: url('@{images}/som.png');
}

//breadcrump
#breadcrump {
  //height: 99px;
  //width: 100%;
  .size(99px, 100%);
  white-space: nowrap;
  line-height: 99px;
  font-family: @roboto;
  color: @verde;
  font-size: 1em !important;
  font-weight: 400;

  a, a:active, a:hover {
    color: @verde;
    text-decoration: none;
  }
}

/* ==========================================================================
    Home Page
   ========================================================================== */

.flexslider {
  border: none;
  ul.slides {

  }
}

.home-featured-post .home-featured-post-content{
  padding: 15px 0 !important;
}

.home-featured-post {
  min-height:600px;
  margin-bottom:20px;
  padding:2px;

  .home-featured-post-content {
    padding: 15px 0;
  }
}

.home-featured-post-image {
  img {
    .img-responsive;

    @media screen and (max-width: @screen-sm) {
      margin: 0 auto;
    }
  }
}

.category {
  .clear-link(#a6ae39);
  @media screen and (max-width: @screen-md) {
    margin: 10px 0;
  }

  a, a:focus, a:active {
    color: #a6ae39;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase !important;
    margin: 10px 0;
    text-transform: none;

    @media screen and (min-width: @screen-desktop) {
      font-size: 14px;
    }
  }
}

.title {
  font-size: 1.6em;
  margin-top: 0;

  a, a:focus, a:active {
    color: #000000;
    font-size: @font-size-large;
    line-height: 1;
    font-weight: 700;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    text-decoration: none;
    @media screen and (min-width: @screen-desktop) {
      font-size: 30px;
    }
  }
}

.content {
  font-size: @font-size-base;
  font-weight: 300;

  @media screen and (min-width: @screen-desktop) {
    font-size: 15px;
  }
}

.date {
  font-size: 9px;
  font-weight: 500;
}

.home-footer {
  border: 2px solid @verde-claro;
  min-height: 268px;
  padding: 20px 25px;

  @media screen and (max-width: @screen-md) {
    margin-bottom: 20px;
  }

  .col-xs-4 {
    @media screen and (max-width: 500px) {
      width: 100%;
      margin: 15px 0;
      text-align: center;
      img {
        display: block;
        margin: 0 auto;
      }

      ul {
        padding: 0;
      }
    }
  }

  ul {
    li {
      .clear-list;
      .clear-link();
    }
  }
}

.home-footer-social {
  height: 268px;
  padding: 20px 25px;

  @media screen and (max-width: @screen-md) {
    .fb_iframe_widget {
      display: block;
      span {
        display: block;
        margin: 0 auto;
      }
    }
  }

  ul {
    li {
      .clear-list;
    }
  }
}

.slider-featured-post {
  width: 100%;
  margin-bottom: 3px;
  // border: 2px solid #fafafa;
  .clearfix;

  .slider-featured-post-image {
    display: inline-block;
    float: left;
    width: 100%;

    @media screen and (min-width: @screen-desktop) {
      width: 50%;
    }
  }
  .slider-featured-post-content {
    display: inline-block;
    width: 100%;

    @media screen and (min-width: @screen-desktop) {
      width: 50%;
      padding: 10px 10px 10px 35px;
    }
    .title {
      margin-top: 20px;

      a {
        font-size: @font-size-large;
        line-height: 1;

        @media screen and (min-width: @screen-tablet) {
          font-size: 40px;
        }
      }
    }
    .content {
      @media screen and (min-width: @screen-tablet) {
        font-size: 18px;
        margin-top: 10px;
      }
    }
    .date {
      @media screen and (min-width: @screen-tablet) {
        font-size: @font-size-base;
      }
    }
    .category {
      @media screen and (min-width: @screen-tablet) {
        margin-top: 22px;
        margin-bottom: 0;
      }
    }
  }
}

/* ==========================================================================
    Post
   ========================================================================== */
.post-featured {
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;

  #post-featured-image {
    display: inline-block;
    float: left;
    width: 56% !important;
    font-size: 0;

    @media (min-width: @screen-xs-min) {
      width: 100%;
    }

    @media (min-width: @screen-sm-min) {
      width: 100%;
    }

    @media (min-width: @screen-md-min) {
      width: 524px;
    }
    @media (min-width: @screen-lg-min) {
      width: 524px;
    }

    img {
      display: inline-block !important;
      vertical-align: top;
      .img-responsive;
    }
  }
  #post-featured-content {
    width: 44% !important;
    display: inline-block;
    vertical-align: top;

    @media (min-width: @screen-xs-min) {
      width: 100%;
    }

    @media (min-width: @screen-sm-min) {
      width: 100%;
    }

    @media (min-width: @screen-md-min) {
      width: 410px;
    }
    @media (min-width: @screen-lg-min) {
      width: 610px;
    }

  }
  h1 {
    margin: 0;
    padding: 0;
  }

  .social-media {
    display: inline-block;
    .clear-sides;

    @media (max-width: 540px) {
      display: block;
    }

    ul {
      .clear-sides;
      display: inline-block;
      position: relative;
      li {
        position: relative;
        @media (max-width: 540px) {
          display: inline-block;
        }
      }
    }
    a {
      .font('Roboto', 35px, #46609d, 500);
      //.clear-list;
      display: block;
      .clear-sides;
      margin: 0 !important;
      width: 53px !important;
      height: 52px !important;

      img {
        width: 53px !important;
        height: 52px !important;
        visibility: hidden;
      }
    }

    .facebook-counter {
      display: inline-block;
      position: absolute;
      width: 127px;
      height: 53px;
      margin: 0;
      bottom: 0;
      .rotate(90deg);
      .transform-origin(bottom left);
      text-align: center;
      .font('Roboto', 35px, #46609d, 500);
      @media (max-width: 540px) {
        .rotate(0deg);
      }

    }
    .synved-social-provider-link {
      background-image: url('../images/social1.png');
    }
    .synved-social-provider-google_plus {
      background-image: url('../images/social2.png');
    }
    .synved-social-provider-twitter {
      background-image: url('../images/social3.png');
    }
    .synved-social-provider-facebook {
      background-image: url('../images/social4.png');
    }

  }
}

.post-featured-content-title {
  position: relative;
  min-height: 335px;
  width: 100%;
  padding: 15px 25px;
  .title{
    font-size: 1em;
    margin-bottom:48px;
  }
  .font-post-title;
  font-family: @roboto;
  color: #000000;
  font-size: 30px;
  font-weight: 500;

  .tag {
    position: absolute;
    bottom: 20px;
    left: 30px;
    i{
      float:left;
      font-size:24px;
    }
    &:before {
      top: 15px;
    }
  }
}

.tag {
  .clear-link(#a6ae39);

  text-transform: uppercase;
  a {
    font-size: 10px;
    font-weight: 700;
  }
  p {
    line-height: 22px;
    display: inline-block;
    padding-left: 30px;
  }
  &:before {

  }
}

.information {
  float: right;
}
.related-posts{
  .tag{
    padding:0 10px;
    width:100%;
    p{
      float:left;
      width:80%;
      padding-left: 10px;
      margin-top:-5px;
    }
    i{
      font-size:22px;
      float: left;
      color: black;
    }
  }
}
.tag, .information {
  display: inline-block;
  vertical-align: bottom;
}

.post-content {
  .nav-pills {
    li {
      max-width: 200px;
      text-align: center;
      height: 43px;
      display: table;

      a {
        background-color: #fff;
        color: #000;
        line-height: 1;
        font-weight: 700;
        font-size: 12px;
        text-transform: uppercase;
        display: table-cell;
        vertical-align: middle;
        height: 43px;
      }
    }
  }
  .tab-content {
  }
  .tab-pane {
    padding: 25px;
    font-weight: 300;
    font-size: 15px;
    line-height: 22px;
  }
}

.post-content-notabs {
  padding: 0;
  font-weight: 300;
  font-size: 15px;
  line-height: 22px;
  p{
    text-align: left;
  }

}

.playlist-wrapper {
  @media screen and (min-width: @screen-md) {
    float: right;
  }
  @media screen and (max-width: @screen-md) {
    text-align: center;
  }

}

.post-playlist {
  .post-playlist-title {
    padding: 15px;

    .title {
      color: @verde;
      font-weight: 700;
      font-size: 14px;
      text-transform: uppercase;
      padding: 0;
      margin: 0;
    }
    .sub-title {
      color: #000000;
      font-weight: 500;
      font-size: 14px;
      padding: 0;
      margin: 0;
    }
  }
  .post-playlist-content {
    padding: 15px;
  }
}

.post-playlist-content {
  padding: 15px;
}

.playlist {
  .clear-list();

}

.playlist-item {
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: justify;
}

.playlist-item-link {
  color: #000;
  position: relative;
  padding-left: 35px;
  @media screen and (max-width: @screen-md) {
    padding-left: 0px;
    display: inline-block;
  }
  display: block;
  .transition(all ease 400ms);
  &:before, &:after {
    .opacity(100);
    .transition(all ease 300ms);
  }
  &:before {
    content: '';
    position: absolute;
    .square(20px);
    background: #000;
    .border-radius(50%);
    left: 0;
  }
  &:after {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    left: 5px;
    top: 5px;
    border-style: solid;
    border-width: 5px 0 5px 12px;
    border-color: transparent transparent transparent #fff;
  }
  /*&:hover, &.is-active, &:visited, &:active,&:focus {
      text-decoration: none;
      padding-left:40px;
      color: #000;
      &:before,&:after{
          .opacity(100);
      }
  }*/

}

.related-posts {
  margin-top: 10px;

  .related-posts-header {
    padding: 20px 15px;
    font-size: 15px;
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;
    p {
      padding: 0;
      margin: 0;
    }
  }
  .related-posts-content {
    padding: 12px;

    .related-post-thumb {
      display: inline-block;
      img {
        .img-responsive;

        //Firefox
        @-moz-document url-prefix() {
          width:100%;
        }

        //IE
        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
          width: 100%;
        }

      }

      .category {
        color: @verde;
        font-weight: 500;
        font-size: 10px;
        text-transform: uppercase;
        text-decoration: none;
        margin-top: 10px;
        padding: 0 10px;
        .clear-link(@verde);
      }
      .title {
        padding: 0 10px;
      }
      .title a {
        font-weight: 700;
        font-size: 19px;
      }

      @media (max-width: @screen-md) {
        margin-bottom: 20px;
      }
    }
  }
}

.post-thumb-box {
  display: block;
  vertical-align: top;
  margin-bottom:10px;
}

.image {
  background: url("@{images}/teste.png");
}

/* ==========================================================================
    Archive & Categoria
   ========================================================================== */
.title-section {
  margin: 45px 0;

  h1 {
    font-weight: 500;
    text-transform: uppercase;
    color: @verde;
    font-size: 28px;
    margin-bottom: 30px;
  }
  p {
    font-size: 18px;
    font-weight: 300;
  }
  .search-cont-result {
    .font('Roboto', 18px, #000, 500);
  }
}
.addthis_default_style{
  a{
    span{
      height:20px !important;
      width:20px !important;
      line-height:20px !important;
      svg{
        height:20px !important;
        width:20px !important;
      }
    }
  }
}
.post-thumb {
  position: relative;
  min-height: 540px;
  margin-bottom: 20px;
  padding:2px;
  h2 {
    .clear-link;
    font-size: 20px;
    font-weight: 700;
    padding: 0 10px;
  }
  p {
    font-size: 15px;
    font-weight: 300;
    padding: 0 10px;
    text-align: left;
  }
  .date {
    font-size: 10px;
    font-weight: 500;
  }
}

.category-container {
  display: block;
  margin-bottom: 45px;
  position: relative;

  .category-description {
    width: 100%;
    margin-right: 30px;
    display: inline-block;
    float: left;
    font-size: 16px;
    font-weight: 300;

    h2 {
      .clear-link(@verde);
      font-size: 22px;
      text-transform: uppercase;
      font-weight: 500;
      margin-top: 0;
    }
    .destaque {
      .clear-link();
    }

    @media (min-width: @screen-xs-min) {
      width: 100%;
    }

    @media (min-width: @screen-sm-min) {
      width: 100%;
    }

    @media (min-width: @screen-md-min) {
      width: 100%;
    }

    @media (min-width: @screen-lg-min) {
      width: 384px;
    }

  }

  img {
    .img-responsive;

    @media screen and (max-width: @screen-sm) {
      margin: 0 auto;
    }
  }

  .category-post {
    display: inline-block;
    width: 100%;
    margin-right: 8px;
    vertical-align: top;
    position: relative;
    min-height: 510px;
    margin-bottom: 20px;

    &:last-child {
      margin-right: 0px;
    }

    img {
      .img-responsive;
    }
    h2 {
      .clear-link();
      font-weight: bold;
      font-size: 20px;
      padding: 0 10px;
    }
    p {
      padding: 0 10px 10px 10px;
      margin: 0;
    }
    span {
      padding-bottom: 40px;
      padding: 0 10px;
    }
    .destaque {
      display: inline-block;
      margin-bottom: 20px;
      font-size: 9px;
    }

    @media (min-width: @screen-xs-min) {
      width: 100%;
    }

    @media (min-width: @screen-sm-min) {
      width: 23.6%;
    }

    @media (min-width: @screen-md-min) {
      width: 23.6%;
    }

    @media (min-width: @screen-lg-min) {
      width: 23.6%;
    }

    @media (max-width: @screen-md) {
      margin-top: 20px;
    }

  }
}

.category-streaming-container {
  margin: 0 0 50px 0;
  display: inline-block;
  h2 {
    text-transform: uppercase;
    color: @verde;
    font-weight: 500;
    font-size: 22px;
    .clear-link(@verde);
  }
  .play {
    img {
      display: inline-block;
    }
    p {
      display: inline-block;
      color: @verde;
      font-weight: 500;
      font-size: 16px;
      text-transform: uppercase;
    }
  }
  .play-container {
    display: block;
    margin-top: 28px;
    p {
      .clear-link(#a6ae39);
      display:inline-block;
    }
    a{
      padding-left: 8px;
      text-transform: uppercase;
    }
  }
  .category-streaming-description {
    padding: 10px 20px;
  }
  .category-selecoes {
  }
}

.category-streaming-container {
  width: 100%;

  .category-streaming-content {
    img{
      margin: 0 auto;
    }
  }
  .category-streaming-image {
    float: left;
    display: inline-block;
  }
  .category-streaming-content {
  }
}

.category-selecoes-left {
  h2 {
    .clear-link();
    font-weight: 700;
    font-size: 20px;
  }
  p {
    font-weight: 300;
    font-size: 14px;
  }
}

.category-selecoes-right {
  ul {
    list-style: none;
  }
  li {
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 15px;
  }
}

.category-selecoes-container {
  padding: 10px;
}

/* ==========================================================================
    Footer
   ========================================================================== */

#footer {
  position: fixed;
  bottom: 0;
  z-index: @zindex-modal - 1;
  width: 100%;
}

/* ==========================================================================
    Search
   ========================================================================== */

#searchsubmit {
  border: none;
  background-color: transparent;
}

.search-result {
  p{
    .font('Roboto'; 28px; #a6ae39; 500);
    margin:0;

  }

  .search-content {
    padding: 10px 0;

    .breadcrump {
      .font('Roboto'; 10px; #a6ae39; 500);
    }
    .title, .title a {
      .font('Roboto'; 20px; #000000; 700);
    }
    .content p {
      .font('Roboto'; 15px; #000000; 300);
    }
    .date {
      .font('Roboto'; 9px; #000000; 500);
      margin-right: 20px;
    }
    .tag {

      text-transform: uppercase;
      a {
        .font('Roboto'; 9px; #a6ae39; 500);
      }
      a:first-child {
        padding-left: 15px;
      }

      &:before {
        background: url('@{images}/tag2.png') no-repeat;
        bottom: 25px;
        .size(11px, 11px);
      }
    }
  }
  //end search-content

  .search-playlist {
    padding: 10px 0;
    .font('Roboto'; 14px; #000000; 300);
  }

}

.search-wrapper{
  margin:20px 0;
  .category{
    line-height:120%;
    font-size:11px;
    a{
      font-size:11px;
    }
  }
  .title{
    line-height:120%;
    margin-bottom:15px;
    a{
      font-size:20px;
      line-height:120%;
    }
  }
  .content{
    margin:0;
    line-height:120%;
  }
  .content, .date, .tag{
    display:block;
    width:100%;
    line-height: 120%;
  }
  .tag{
    .fa-rotate-90{
      padding-bottom:4px;
    }
    a{
      padding-left: 6px;
    }
  }
  .tag:before{
    float: left;
    position:relative !important;
  }
}

/* ==========================================================================
   Aba de playlist ao vivo
   ========================================================================== */
.is_open{
  .menu-aovivo-tab{
    width:130px !important;
  }
}
.menu-aovivo {
  background: @verde-claro;
  .user-select(none);
  cursor: pointer;
  margin: 20px 0;
  @media screen and(min-width: @screen-sm) {
    //Layout
    width: 354px;
    height: 60px;
    right: -248px;
    position: fixed;
    z-index: @zindex-modal-background;
    .transition(all ease 300ms);
    top: 150px;
  }

  .menu-aovivo-tab {
    width: 110px;
    text-align: center;
    padding: 6px;
    float: left;
    .menu-aovivo-tab-label {
      text-transform: uppercase;
      font-size: 12px;
      margin-top: 5px;
    }
  }
  .menu-aovivo-content {
    text-align: center;
    height: 60px;
    display: table;
    .menu-aovivo-content-wrap {
      display: table-cell;
      vertical-align: middle;
    }
    a {
      .border-radius(10px);
      background: @verde;
      color: #fff;
      font-size: 12px;
      line-height: 1;
      padding: 5px 10px;
      margin: 5px 0;
      font-weight: 900;
      text-transform: uppercase;
      display: inline-block;
      width: 100px;
      .transition(background ease 300ms);
      &:hover, &:active, &:focus {
        text-decoration: none;
        background: lighten(@verde, 10%);
      }
    }
  }
  &.is_open {
    right: 0;
    .menu-aovivo-tab {
      .menu-aovivo-tab-icon {
        float: left;
        margin: 10px 6px;
      }
      .menu-aovivo-tab-label {
        float: left;
        margin: 16px 0;
      }
    }
  }

}

/* ==========================================================================
    Paginação
   ========================================================================== */
.pagination {

  .wp-pagenavi a, .wp-pagenavi span {
    padding: 6px 9px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }

  a {
    color: #000;
  }

  .wp-pagenavi span.current {
    color: @verde;
  }

  .wp-pagenavi a:hover, .wp-pagenavi span.current {
    border-color: @verde;
    color: @verde;
  }

}

/* ==========================================================================
    Mobile Responsivo
   ========================================================================== */
.grid-item {
  overflow: hidden;
}

/* ==========================================================================
    Infinite Scroll
   ========================================================================== */

.content-infinite-scroll{
  .navigation{
    display: none;
  }
}

#infscr-loading{
  display: block !important;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

/* Menu Effect */
.menu-button{
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}
.menu-button span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: #d3531a;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.menu-button span:nth-child(2) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.menu-button span:nth-child(3) {
  top: 4px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
.menu-button span:nth-child(4) {
  top: 12px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.menu-button.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.menu-button.open span:nth-child(3) {
  width: 0%;
  opacity: 0;
}

.menu-button.open span:nth-child(4) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 18px;
}

/*Banner extra */
.banner-selecao{
  width: 23.8%;
  float:left;
  margin-right: 8px;
}

/*404*/
.error-text{
  width: 100%;
  margin-bottom: 50px;
  text-align: center;
  display: inline-block;
}
.episodios-title{
  color: #000 !important;
  position: relative;
  display: block;
  -webkit-transition: all ease 400ms;
  -o-transition: all ease 400ms;
  transition: all ease 400ms;
}
.no-image-custom{
  margin: 0 auto;
}
.no-image-custom-2{
  height: 165px !important;
}
.no-image-custom-3{
  height: 189px !important;
}
.post-playlist .post-playlist-title{
  padding:0 10px;
}
.post-playlist .post-playlist-content{
  padding: 0 10px;
}
.related-posts .related-posts-header{
  padding:20px 10px 0;
}

/*Ajustes Mobile */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 767px)
{
  .post-thumb h2{
    padding:0;
  }
  .post-thumb p{
    padding:0;
  }
  .home-featured-post{
    padding:0 !important;
  }
  .home-featured-post .home-featured-post-content{
    padding:0 !important;
  }
  .post-content{
    padding:0;
  }
  .category-streaming-container .category-streaming-description{
    padding:0;
  }
  .cat-mais.category-post{
    width: 100% !important;
  }
  .playlist-item-link:before{
    display:inline-block;
    position: relative;
    top:5px;
  }
  .playlist-item-link:after{
    top:10px;
  }
  .post-featured-content-title{
    min-height: inherit !important;
  }
  .post-featured-content-title .tag{
    bottom:inherit !important;
  }
  .menu-button{
    right: 30px;
  }
  .post-thumb{
    min-height: inherit;
  }
  .category-container .category-post{
    min-height: inherit;
  }
  .post-content .post-content-notabs{
    padding: 0 15px;
    iframe{
      width: 100%;
      height: 100%;
    }
  }
  .category-container{
    img{
      width: 100% !important;

    }
  }
  .banner-selecao{
    width: inherit;
    float: inherit;
    margin-right: inherit;
  }
  #breadcrump{
    display: table-cell;
    vertical-align: middle;
    width: inherit !important;
    line-height: inherit !important;
    -ms-word-wrap: inherit !important;
    word-wrap: inherit !important;
    text-align: left !important;
    white-space: inherit !important;
    height: 99px !important;
    padding: 0 !important;
  }
    .no-image-custom{
      width: 100% !important;
      height:234px !important;
    }
    .no-image-custom-2{
      height: 222px !important;
    }
    .no-image-custom-3{
      height: 164px !important;
    }
    .no-image-custom-4{
      width: 252px !important;
      height: 181px !important;
    }
  .related-posts .related-posts-content{
    padding:15px 0px !important;
  }
  .related-posts .related-posts-content .related-post-thumb{
    text-align: left;
  }
  .content{
    font-size:15px;
  }
}

/*Tablet General*/
@media only screen
and (min-width: 768px)
and (max-width: 1024px){
  .search-wrapper {
    .category {
      margin: 0;
    }
    .category, .title, .tag, .content, .date {
      padding-left: 10px;
    }
    img {
      display: block;
      max-width: 100%;
      height: auto;
    }
  }
  .playlist-item-link:before{
    display:inline-block;
    position: relative;
    top:5px;
  }
  .playlist-item-link:after{
    top:10px;
  }
  .category-container .category-post{
    width:23.5%;
    min-height: 612px;
  }
  .post-featured-content-title{
    padding-left:52px !important;
  }
  .related-posts{
    margin-top:5px;
  }
  .post-featured{
    margin-bottom:5px;
  }
  .post-playlist .post-playlist-title{
    padding:20px !important;
  }
  .post-playlist .post-playlist-content{
    padding:20px !important;
  }
  .related-posts .related-posts-header{
    padding:20px;
  }
  .related-posts .related-posts-content{
    padding:20px !important;
  }
}

/*Tablet Portrait*/
@media only screen
and (min-width: 768px)
and (max-width: 1024px)
and (orientation: portrait)
 {
  .post-playlist .post-playlist-content{
    padding:0 !important;
  }
  .post-featured-content-title .title{
    margin-bottom:5px;
  }
  .search-wrapper {
    .category{
      margin:0;
    }
    .category, .title, .tag, .content, .date{
      padding-left:10px;
    }
    img {
      display: block;
      max-width: 100%;
      height: auto;
    }
  }
  .playlist-item-link:before{
    display:inline-block;
    position: relative !important;
    top:5px;
  }
  .playlist-item-link:after{
    top:10px;
  }
  .post-featured-content-title{
    min-height: inherit !important;
  }
  .post-featured-content-title .tag {
    bottom: inherit !important;
  }
  .banner-selecao{
    margin-top: 20px;
  }
  .no-image-custom{
    height: 174.9px !important;
  }
  .no-image-custom-2{
      height: 125px !important;
  }
  .no-image-custom-3{
    height: 93.4px !important;
    width: 100% !important;
  }
  .no-image-custom-4{
    height: 181px !important;
  }
  .post-featured {
    .post-featured-content-title {
      padding: 30px 10px 10px 10px;
    }
    .post-featured-content-title .tag {
      position: initial;
      width: 100%;
    }
    .post-featured-content-title .tag:before {
      position: initial !important;
      float: left;
      margin-top: 10px;
    }
    .tag p {
      width: 90%;
      float: left;
      padding-left: 14px;
    }
  }
}



@media only screen
and (min-width: 768px)
and (max-width: 1199px)
and (orientation: landscape){
  .post-featured #post-featured-image img{
    max-width: 85% !important;
  }
}


/*Tablet Landscape*/
@media only screen
and (min-width: 768px)
and (max-width: 1024px)
and (orientation: landscape)
{
  .post-featured-content-title{
    padding:15px 0 !important;
  }
  .post-featured{
    #post-featured-image{
      width:100% !important;
    }
    #post-featured-content{
      width:100% !important;
    }
  }
  .post-featured-content-title{
    min-height:inherit;
    .title{
      margin-bottom: 0;
    }
  }
  .no-image-custom-2{
    height: 156px !important;
  }
  .no-image-custom-3{
    height: 155.9px !important;
  }
  .post-featured #post-featured-image img{
    max-width: 85% !important;
  }
}
/* Mobile Portrait & Landscape */
@media only screen
and (min-width: 320px)
and (max-width: 767px)
{
  .flex-control-nav{
    bottom:0;
  }
  .post-featured .post-featured-content-title .tag{
    margin-top: 15px;
  }
  .related-posts .related-posts-header{
    padding:20px 0;
  }
  .container{
    padding:0 10px;
  }
  .home-container{
    padding:0;
  }
  .post-featured{
    padding:0;
  }
  .post-featured-content-title .title{
    margin-bottom:0;
  }
  .post-featured-content-title{
    min-height:inherit;
    padding:20px 0;
  }
  .post-featured {

    #post-featured-image {
      width: 100% !important;
    }
    #post-featured-content{
      width:100% !important;
    }
  }

  .post-playlist .post-playlist-title{
    padding:15px 0;
  }
  .post-playlist .post-playlist-content{
    padding:15px 0;
  }


  .category-container .category-post{
    margin-bottom: 5px;
    margin-top: 5px;
  }
  
  .category-container{
    margin-bottom: 0 !important;
  }
  .title-section{
    padding: 0;
  }
  .category-container .category-description{
    padding: 0 10px;
    margin-top: 10px;
  }
  .home-featured-post{
    margin-bottom: 26px;
    padding: 0 15px;
    min-height:inherit;
  }
  .home-featured-post .home-featured-post-content{
    padding: 15px 0 0 0;
  }
  .slider-featured-post .slider-featured-post-content{
    padding: 12px 0;
  }
  .menu-aovivo{
    margin: 12px 0 14px 0;
    .menu-aovivo-tab{
      width: 34%;
      padding: 6px;
      padding-left: 12px;
      float: left;
    }
    .menu-aovivo-tab-icon{
      float: left;
      padding-left: 2px;
      line-height: 50px;
      padding-right: 12px;
    }
    .menu-aovivo-tab-label{
      float: left;
      margin-top: 0 !important;
      line-height: 50px;
    }
   .menu-aovivo-content{
     text-align: center;
     height: 60px;
     width: 66%;
   }
  }
  .menu-aovivo .menu-aovivo-content a{
    float: left;
    width: 46%;
    padding: 12px 0;
    margin: 2px;
  }
  }
  #breadcrump{
    padding: 0 !important;
  }
  .related-posts .related-posts-content .related-post-thumb{
    margin-bottom: 0;
    width:100%;
  }
  .related-posts .related-posts-content .related-post-thumb .category{
    padding: 0;
    margin:0;
    a{
      font-size:12px;
      font-weight:700;
    }
  }
  .related-posts .related-posts-content .related-post-thumb .title{
    padding: 0;
  }
  .title{
    font-size: 1.3em;
    //margin-top:8px !important;
    //margin-bottom: 15px !important;
    margin:0 0 10px 0;
  }
  .date{
    margin-bottom: 16px !important;
  }
  .post-featured{
    .post-featured-content-title{

    }
    .post-featured-content-title .tag{
      position: initial;
      width: 100%;
    }
    .post-featured-content-title .tag:before{
      position: initial !important;
      float: left;
      margin-top: 10px;
    }
    .tag p{
      width: 88%;
      float: left;
      padding-left: 14px;
      line-height: 120%;
      font-size:14px;
    }
  }
  //Helpers
  iframe{
    height: auto   !important;
    width: 100%    !important;
  }


/*Mobile Landscape */
@media only screen
and (min-width: 320px)
and (max-width: 767px)
and (orientation: landscape)
{
  .post-featured #post-featured-image img{
    margin:0 auto;
    display:block !important;
  }
  .post-featured #post-featured-content{
    padding-left: 0;
  }
  .banner-selecao{
    width: inherit;
    float: inherit;
    margin-right: inherit;
    img{
      width: inherit !important;
      height: inherit !important;
    }
  }
  .no-image-custom{
    height:354px !important;
  }
  .no-image-custom-2{
    height: 342px !important;
  }
  .no-image-custom-3{
    height: 255px !important;
  }
  .post-featured-content-title{
    padding:30px 0;
  }
}

/* Mobile Portrait */
@media only screen
and (min-width: 320px)
and (max-width: 767px)
and (orientation: portrait)
{
  .post-content{
    margin-bottom:5px;
  }
  .menu-aovivo-tab{
    width:44% !important;
  }
  .menu-aovivo-content{
    width:56% !important;
  }
  #breadcrumb-style{
    white-space:normal !important;
    width:100% !important;
  }
}

/* Portrait IPAD*/
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: portrait)
{
  .post-thumb{
    padding:0 10px;
  }
  .post-thumb h2{
    padding: 0;
  }
  .post-thumb p{
    padding:0;
  }
  .home-featured-post .home-featured-post-content{
    padding:15px 0 !important;
  }
  .post-playlist .post-playlist-title{
    padding:20px 0 !important;
  }
  .post-featured .post-featured-content-title{
    padding:30px 0 10px !important;
  }
  .related-posts .related-posts-header{
    padding:20px 0 !important;
  }
  .related-posts .related-posts-content{
    padding:20px 0 !important;
  }
  .post-featured #post-featured-image img{
    margin:0 auto;
    display:block !important;
  }
  .post-featured #post-featured-image{
    width:100% !important;
  }
  .post-featured #post-featured-content{
    width:100% !important;
  }
.menu-button{
top:10%;
}
}
#breadcrumb-style{
  width: 99px;
  height: 100%;
  white-space: nowrap;
  font-family: 'Roboto', sans-serif;
  color: #a6ae39;
  font-size: 0.65em;
  font-weight: 400;
  a{
    color: #a6ae39 !important;
    text-transform: uppercase;
  }
}
.top-menu{
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ebebeb;
}
.menu-social{
  width: 25.8%;
  display: inline-block;
  text-align: right;
  float: right;
  margin: 0;
  padding: 0;
  padding-top: 5px;
  li{
    display: inline-block;
    margin: 0 5px;
    width: 25px;
    text-align: center;
  }
}
.menu-desktop {
  list-style: none;
  width: 65%;
  padding:5px;
  float:left;
  display: inline-block;
  margin-bottom: 0;
  li{
    &:hover{
      background: #ebebeb;
    }
  }
}
 .menu-desktop > .menu-item{
   display: inline-block;
   padding: 12px 14px;
   position: relative;
    a{
      font-size: 14px;
      font-family: 'Roboto', sans-serif;
      text-transform: uppercase;
      color: #000;
      font-weight: 500;
      letter-spacing: .5px;
    }
  }
 .sub-menu{
   display:none;
 }
 .sub-menu-2{
   position: absolute;
   background: #ebebeb;
   padding-left: 0;
   list-style: none;
   z-index:1;
   top: 45px;
   left: 0;
   min-width:220px;
 }
 .sub-menu-2 li{
 }
 .sub-menu-2 li a{
   display:block;
   font-size:12px !important;
   font-weight:500 !important;
   padding:4px 14px !important;
 }
 .sub-menu-2 li:hover a {
   background-color: #ebebeb !important;
   text-decoration: underline;
 }
 .sub-menu-2 li:first-child a{
   padding-top:14px !important;
 }
.sub-menu-2 li:last-child a{
  padding-bottom:14px !important;
}
 .menu-item:hover .sub-menu-2{
   display: block;
 }
.img-logo{
  line-height:50px;
  padding-right:14px;
  float: left;
  img{
    height:auto;
    max-width:100%;
  }
}

@media only screen
and (min-width: 994px)
and (max-width: 1024px)
{
  .playlist-item-link:before{
    position: absolute;
  }

}
/* Mobile Portrait & Landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
{
  .playlist-item-link{
    padding-left:0px !important;
  }
}



/*Novo Layout*/
#btn-busca{
  cursor:pointer;
}
.container-fluid{
  padding-left:25px;
  padding-right:25px;
}
.single{
  .header{
    height: inherit;
    margin-top:20px;
    margin-bottom:30px;
  }
  .logo{
    position: initial;
    width: 100%;
    text-align: center;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
}
.coluna-central-lg{
  max-width:850px;
  margin:0 auto;
  #searchsubmit{
    &:focus{
      outline:none;
    }
  }
  .search{
    text-align: center;
    margin-top: 28px;
    margin-bottom: 28px;
    display:none;
  .ipt-search{
    max-width: 715px;
    width: 84%;
    background: #f7f7f7;
    height:45px;
    border:none;
    color: #afafaf;
    font-family:@roboto;
    font-size:20px;
    line-height: 45px;
    padding: 0 15px;
    font-weight:300;
    &:focus{
      outline:none;
    }
    &::-webkit-input-placeholder{
      color: #afafaf;
      font-family:@roboto;
      font-size:20px;
      line-height: 45px;
      font-weight:300;
    }
  }
    
  }
  #breadcrump{
    width:100%;
    text-align: center;
    line-height:inherit;
    height:inherit;
  }
  h1{
    font-size:40px;
    text-align: center;
    margin-top:25px;
    font-weight:300;
    margin-bottom: 45px;
  }
}
.coluna-central{
  max-width:468px;
  margin:0 auto;
  position: relative;
  iframe{
    height:500px !important;
    margin-bottom:10px;
  }
  .prev-link{
    position: absolute;
    left: -200px;
    top: 100px;
    p{
      text-align: center;
      color: black;
      font-weight: 300;
    }
  }
  .next-link{
    position:absolute;
    right:-200px;
    top:100px;
    p{
      text-align: center;
      color: black;
      font-weight: 300;
    }
  }
  .playlist-item{
    img{
      display:none;
      font-size: 22px;
      //display:inline-block;
      float:left;
      margin-right:12px;
    }
  }
  .home-footer{
    margin-bottom:20px;
    img{
      display: block;
      margin:0 auto;
    }
    ul:first-child{
      font-weight:500;
    }
    ul{
      padding: 0;
      text-align: center;
      margin-top:30px;
      li:first-child{
        font-weight:500;
      }
      li{
        a{
          font-size: 16px;
        }
      }
    }
  }
  .wp-post-image{
    width:100%;
    height: 336px;
  }
  .thumb-caption{
    margin-top:5px;
    font-size: 11px;
    font-weight: 300;
    padding: 0;
  }
  .post-playlist{
    padding: 0;
    width:100%;
    background: #f7f7f7;
    margin-top:30px;
    display: inline-block;
    .playlist-item-link{
      padding:0;
    }
    .playlist-item-link:before{
      position: relative !important;
      display: inline-block;
      top:5px;
      margin-right:15px;
    }
    .playlist-item-link:after{
      top:10px;
    }
    .playlist-item{
      padding:0;
      a{
        font-size: 15px;
        font-weight: 300;
        letter-spacing: .5px;
        text-decoration: none;
        line-height: 22px;
      }
    }
    .post-playlist-content{
      padding:12px;
      padding-top: 0;
      display:none;
    }
    .post-playlist-title{
      background: #f7f7f7;
      display: inline-block;
      width: 100%;
      cursor: pointer;
      i{
        line-height: 60px;
        font-size: 20px;
        margin-right: 15px;
        float: right;
      }
      .veja-mais{
        width:10%;
        margin:0;
        padding:0;
        float:left;
        text-align:right;
        text-transform: uppercase;
        font-size:12px;
        font-weight: 300;
      }
      .title{
        display: inline-block;
        width:80%;
        padding-top:20px;
        height:100%;
        float: left;
      }
       .sub-title{
        display: inline-block;
        width:80%;
        padding-bottom:20px;
        height:100%;
        float: left;
      }

    }
  }
  .addthis_sharing_toolbox{
    margin:25px 0;
  }
  .post-content{
    font-size:18px;
    font-weight:300;
    line-height:22px;
  }
  hr{
    margin:30px 0;
  }
  .related-posts{
    .tag{
      padding:0;
      margin-top: 30px;
      i{
        font-size:25px;
        margin-right:10px;
      }
      a{
        font-size:14px;
      }
      p{
        padding:0;
        margin:0;
        font-size:14px;
        font-weight:bold;
        width:90%;
      }
    }
    .related-posts-header{
      padding:0;
      p{
        font-size:18px;
        font-weight:bold;
        margin: 25px 0 20px 0;
      }
    }
    .related-posts-content{
      padding:0;
      .post-thumb-box{
        margin:0;
      }
      .category{
        a{
          font-size:16px;
        }
      }
      .title{
        a{
          font-size:18px;
          font-weight:bold;
        }
      }
    }
  }
}

.post-single-documentario{
  .post-playlist{
    .post-playlist-title{
      padding: 0 10px;
    }
  }
  .veja-mais-wrapper{
    float: right;
  }
  .coluna-central .post-playlist .post-playlist-title i{
    margin-left: 10px;
    line-height: 60px;
    font-size: 20px;
  }
  .coluna-central .post-playlist .post-playlist-title .veja-mais{
    margin: 0;
    padding: 0;
    line-height: 60px;
    float: left;
    text-align: right;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 300;
    width:inherit;
  }
}
#post-episodios{
  padding-bottom: 10px;
  margin-top:15px;
  .title{
    padding-top: 24px;
  }
  .post-playlist-title{
    padding:0 22px;
  }
  .post-playlist-content{
    padding:0 22px;
  }
  .veja-mais{
    padding-top:26px;
    width:14%;
  }
  i{
    margin-right:0;
    line-height: inherit;
    padding-top:20px;
  }
}
#post-episodios-audio{
  padding-bottom: 10px;
  margin-top:15px;
  .post-playlist-title{
    padding:0 22px;
  }
  .title{
    padding-top: 24px;
  }
  .post-playlist-content{
    padding:0 22px;
  }
  .veja-mais{
    padding-top:20px;
    width:14%;
  }
  i{
    margin-right:0;
    line-height: inherit;
    padding-top:20px;
  }
}
#post-audios{
  padding-bottom: 10px;
  .title{
    padding-top: 24px;
  }
  .post-playlist-title{
    padding:0 22px;
  }
  .post-playlist-content{
    padding:0 22px;
  }
  .veja-mais{
    padding-top:20px;
    width:14%;
  }
  i{
    margin-right:0;
    line-height: inherit;
    padding-top:20px;
  }
}
#post-selecoes{
  padding-bottom: 10px;
  margin-top:15px;
  .title{
    padding-top: 24px;
  }
  .sub-title{
    line-height:1;
    padding-top:6px;
    padding-bottom:17px;
  }
  .veja-mais-wrapper{
    i{
      margin-right:0;
      line-height: inherit;
      padding-top:20px;
    }
  }
  .post-playlist-title{
    padding:0 22px;
  }
  .post-playlist-content{
    width:100%;
    padding:0 22px;
    background: rgb(247, 247, 247);
    padding-bottom:10px;
    display: none;
  }
  .playlist-title{
    i{
      padding-top:20px;
      line-height:initial;
    }
  }
}

/*Ipad*/
@media only screen
and (min-width: 768px)
and (max-width: 1024px)
{
  .coluna-central {
    .prev-link {
      position: absolute;
      left: -100px;
      top: 100px;
    }
    .next-link {
      position: absolute;
      right: -100px;
      top: 100px;
    }
    .post-playlist{
    .post-playlist-title {
      padding: 0 12px !important;
    }
      .playlist-item{
        padding:12px !important;
        margin:0;
      }
    }
  }
}
/* Mobile Portrait & Landscape */
@media only screen
and (min-width: 320px)
and (max-width: 767px)
{
  .single{
    .menu-button{
      top:25px;
      right:25px;
    }
  }
  .coluna-central-lg{
    #breadcrump{
      width: 100% !important;
      display: block !important;
      text-align: center !important;
      line-height: 99px !important;
    }
  }
  .coluna-central{
    .prev-link {
      display: none;
    }
    .next-link {
      display: none;
    }
    img{
      display: block;
      max-width: 100%;
      height: auto !important;
    }
    .post-playlist{
      .post-playlist-title{
        padding: 12px !important;
        .title{
          width:70% !important;
        }
        .veja-mais{
          width:18% !important;
        }
      }
    }
  }
}