.stream-duration{
  float: right;
  display: inline;
  text-align: right;
  cursor: pointer;
  font-size: 12px;
  color: #edf948;
}
body{
  overflow-x: hidden;
}

/*! Blue Monday Skin for jPlayer 2.9.2 ~ (c) 2009-2014 Happyworm Ltd ~ MIT License */
.jp-audio :focus,.jp-audio-stream :focus,.jp-video :focus{outline:0}<br>
.jp-audio button::-moz-focus-inner,.jp-audio-stream button::-moz-focus-inner,.jp-video button::-moz-focus-inner{border:0}
.jp-audio,.jp-audio-stream,.jp-video{
  font-size:16px;
  font-family:Verdana,Arial,sans-serif;
  line-height:1.6;
  color:#666;
  /*border:5px solid #666;*/
  background-color:#333;
}

#jp_container_1 .wp-post-image{
  height: 65px !important;
  width: auto !important;
  float: left;
  margin: 0px 10px 0px 0px;
}

.jp-audio{
  width: 100%;    
  height: auto;
  min-height: 85px;
  left: 0;
  bottom: -142px;
  position: fixed;
  transition: bottom .3s;
}

.jp-audio.active{
  bottom: 0;
}

.jp-audio-stream{width:182px}
.jp-video-270p{width:480px}
.jp-video-360p{width:640px}
.jp-video-full{width:480px;height:270px;position:static!important;position:relative}
.jp-video-full div div{z-index:1000}
.jp-video-full .jp-jplayer{top:0;left:0;position:fixed!important;position:relative;overflow:hidden}
.jp-video-full .jp-gui{position:fixed!important;position:static;top:0;left:0;width:100%;height:100%;z-index:1001}
.jp-video-full .jp-interface{position:absolute!important;position:relative;bottom:0;left:0}
.jp-interface{position:relative;background-color:#333;width:100%}
.jp-audio .jp-interface,.jp-audio-stream .jp-interface{height:auto; }
.jp-video .jp-interface{border-top:1px solid #009be3}
.jp-controls-holder{clear:both;width:440px;margin:0 auto;position:relative;overflow:hidden;top:-8px}
.jp-interface .jp-controls{margin:0;padding:0;overflow:hidden}

.jp-audio .jp-controls{ padding: 25px 30px 0; }


.jp-audio-stream .jp-controls{position:absolute;top:20px;left:20px;width:142px}
.jp-video .jp-type-single .jp-controls{width:78px;margin-left:200px}
jp-video .jp-type-playlist .jp-controls{width:134px;margin-left:172px}
.jp-video .jp-controls{float:left}
.jp-controls button{display:block;float:left;overflow:hidden;text-indent:-9999px;border:none;cursor:pointer}

.jp-pause {
  background: url('/wp-content/themes/santive/images/radio-controllers.png') 0 0 no-repeat;
  background-position: -54px 4px;
  width: 27px;
  height: 37px;
}
.jp-play,.jp-play:focus{    
  background: url('/wp-content/themes/santive/images/radio-controllers.png') 0 0 no-repeat;
  background-position: -30px 4px;
  width: 27px;
  height: 37px;
}
.jp-state-playing .jp-play{background:url(../image/jplayer.blue.monday.jpg) -85px 0px no-repeat}
.jp-state-playing .jp-play:focus{background:url(../image/jplayer.blue.monday.jpg) -85px 0px no-repeat}

.jp-next,.jp-previous,.jp-stop{width:28px;height:28px;margin-top:6px}
.jp-stop{background:url(../image/jplayer.blue.monday.jpg) 0 -83px no-repeat;margin-left:10px}

.jp-stop:focus{background:url(../image/jplayer.blue.monday.jpg) -29px -83px no-repeat}
.jp-previous,.jp-previous:focus{
  background: url('/wp-content/themes/santive/images/radio-controllers.png') 0 0 no-repeat;
  background-position: 0;
  margin-right: 30px;
}
.jp-next,.jp-next:focus{
  background: url('/wp-content/themes/santive/images/radio-controllers.png') 0 0 no-repeat;
  background-position: -80px;
  margin-left: 30px;
}

.jp-previous.disabled{
  background: url('/wp-content/themes/santive/images/radio-controllers-pb.png') 0 0 no-repeat;
}

.jp-next.disabled{
  background: url('/wp-content/themes/santive/images/radio-controllers-pb.png') -80px 0 no-repeat;
}

.jp-progress{overflow:hidden;background-color:#ddd}
.jp-audio .jp-progress{position:absolute;top:-10px;height:10px}
.jp-audio .jp-type-single .jp-progress{/*left:110px;*/ width:100%;}
.jp-audio .jp-type-playlist .jp-progress{left:166px;width:130px}
.jp-video .jp-progress{top:0;left:0;width:100%;height:10px}
.jp-seek-bar{background:url(../image/jplayer.blue.monday.jpg) 0 -202px repeat-x;width:0;height:100%;cursor:pointer}
.jp-play-bar{background:yellow 0 -218px repeat-x;width:0;height:100%}
.jp-seeking-bg{background:url(../image/jplayer.blue.monday.seeking.gif)}
.jp-state-no-volume .jp-volume-controls{display:none}
.jp-volume-controls{
  position: relative;
  top: 25px;
  left: 70px;
}
.jp-audio-stream .jp-volume-controls{left:70px}
.jp-video .jp-volume-controls{top:12px;left:50px}
.jp-volume-controls button{display:block;position:absolute;overflow:hidden;text-indent:-9999px;border:none;cursor:pointer}
.jp-mute,.jp-volume-max{width:18px;height:15px}
.jp-volume-max{left:74px}
.jp-mute{background:url(../image/jplayer.blue.monday.jpg) 0 -170px no-repeat}.jp-mute:focus{background:url(../image/jplayer.blue.monday.jpg) -19px -170px no-repeat}.jp-state-muted .jp-mute{background:url(../image/jplayer.blue.monday.jpg) -60px -170px no-repeat}.jp-state-muted .jp-mute:focus{background:url(../image/jplayer.blue.monday.jpg) -79px -170px no-repeat}.jp-volume-max{background:url(../image/jplayer.blue.monday.jpg) 0 -186px no-repeat}.jp-volume-max:focus{background:url(../image/jplayer.blue.monday.jpg) -19px -186px no-repeat}
.jp-volume-bar{
  background-color: white;
  position:absolute;
  background: url('/wp-content/themes/santive/images/player-volume.png');
  overflow:hidden;
  top:5px;
  left:22px;
  width: 57px;
  height: 24px;
  cursor:pointer;
  display: block !important;
}
.jp-volume-bar-value{
  background-color: yellow;
  background-image: url('/wp-content/themes/santive/images/player-volume-t.png');
  width: 57px;
  height: 24px;
  display: block !important;
}

.jp-time-holder{color:#FFF;}

.center-play{  
  overflow: hidden;
  margin: auto;
  height: auto;
  position: inherit;
  background-color: #444;
  padding: 10px;
  min-height: 85px;
  color: #fff;
  font-family: verdana;
  font-size: 10px;
}

.dados-som, .dados-som2{ 
  float: left;
  position: relative;
}
.dados-som{
  padding-right: 10px;  
  width: 90%; 
}

.categoria{font-size: 1.5em; text-transform: uppercase; color:yellow;}
.album{font-size: 1.5em;}
.autor, .compositor{font-size: 1.3em;}
.tit-musica{font-size: 1.5em; text-transform: uppercase;}

.titulo{ 
  color: yellow;
  font-size: 1.3em;
  border-top: 1px solid #666;
  margin-top: 10px;
}

.jp-thumb{float: left;  position: absolute;  top: 20px;  left: 220px;}

.jp-audio .jp-time-holder{position:absolute;top:35px}
.jp-audio .jp-type-single .jp-time-holder{
  top: 35px;
  left: 30px;
}
.jp-audio .jp-type-playlist .jp-time-holder{left:166px;width:130px}
.jp-current-time,.jp-duration{font-size:12px;color:#edf948;}
.jp-current-time{float:left;display:inline;cursor:default}
.jp-duration{float:right;display:inline;text-align:right;cursor:pointer}
.jp-video .jp-current-time{margin-left:20px}
.jp-video .jp-duration{margin-right:20px}.jp-details{font-weight:700;text-align:center;cursor:default}.jp-details,.jp-playlist{width:100%;background-color:#ccc;border-top:1px solid #009be3}.jp-type-playlist .jp-details,.jp-type-single .jp-details{border-top:none}.jp-details .jp-title{margin:0;padding:5px 20px;font-size:.72em;font-weight:700}.jp-playlist ul{list-style-type:none;margin:0;padding:0 20px;font-size:.72em}.jp-playlist li{padding:5px 0 4px 20px;border-bottom:1px solid #eee}.jp-playlist li div{display:inline}div.jp-type-playlist div.jp-playlist li:last-child{padding:5px 0 5px 20px;border-bottom:none}div.jp-type-playlist div.jp-playlist li.jp-playlist-current{list-style-type:square;list-style-position:inside;padding-left:7px}div.jp-type-playlist div.jp-playlist a{color:#333;text-decoration:none}div.jp-type-playlist div.jp-playlist a.jp-playlist-current,div.jp-type-playlist div.jp-playlist a:hover{color:#0d88c1}div.jp-type-playlist div.jp-playlist a.jp-playlist-item-remove{float:right;display:inline;text-align:right;margin-right:10px;font-weight:700;color:#666}div.jp-type-playlist div.jp-playlist a.jp-playlist-item-remove:hover{color:#0d88c1}div.jp-type-playlist div.jp-playlist span.jp-free-media{float:right;display:inline;text-align:right;margin-right:10px}div.jp-type-playlist div.jp-playlist span.jp-free-media a{color:#666}div.jp-type-playlist div.jp-playlist span.jp-free-media a:hover{color:#0d88c1}span.jp-artist{font-size:.8em;color:#666}.jp-video-play{width:100%;overflow:hidden;cursor:pointer;background-color:transparent}.jp-video-270p .jp-video-play{margin-top:-270px;height:270px}.jp-video-360p .jp-video-play{margin-top:-360px;height:360px}.jp-video-full .jp-video-play{height:100%}.jp-video-play-icon{position:relative;display:block;width:112px;height:100px;margin-left:-56px;margin-top:-50px;left:50%;top:50%;background:url(../image/jplayer.blue.monday.video.play.png) no-repeat;text-indent:-9999px;border:none;cursor:pointer}.jp-video-play-icon:focus{background:url(../image/jplayer.blue.monday.video.play.png) 0 -100px no-repeat}.jp-jplayer,.jp-jplayer audio{width:0;height:0}.jp-jplayer{background-color:#000}.jp-toggles{padding:0;margin:0 auto;overflow:hidden}.jp-audio .jp-type-single .jp-toggles{width:25px}.jp-audio .jp-type-playlist .jp-toggles{width:55px;margin:0;position:absolute;left:325px;top:50px}.jp-video .jp-toggles{position:absolute;right:16px;margin:10px 0 0;width:100px}.jp-toggles button{display:block;float:left;width:25px;height:18px;text-indent:-9999px;line-height:100%;border:none;cursor:pointer}.jp-full-screen{background:url(../image/jplayer.blue.monday.jpg) 0 -310px no-repeat;margin-left:20px}.jp-full-screen:focus{background:url(../image/jplayer.blue.monday.jpg) -30px -310px no-repeat}.jp-state-full-screen .jp-full-screen{background:url(../image/jplayer.blue.monday.jpg) -60px -310px no-repeat}.jp-state-full-screen .jp-full-screen:focus{background:url(../image/jplayer.blue.monday.jpg) -90px -310px no-repeat}.jp-repeat{background:url(../image/jplayer.blue.monday.jpg) 0 -290px no-repeat}.jp-repeat:focus{background:url(../image/jplayer.blue.monday.jpg) -30px -290px no-repeat}.jp-state-looped .jp-repeat{background:url(../image/jplayer.blue.monday.jpg) -60px -290px no-repeat}.jp-state-looped .jp-repeat:focus{background:url(../image/jplayer.blue.monday.jpg) -90px -290px no-repeat}.jp-shuffle{background:url(../image/jplayer.blue.monday.jpg) 0 -270px no-repeat;margin-left:5px}.jp-shuffle:focus{background:url(../image/jplayer.blue.monday.jpg) -30px -270px no-repeat}.jp-state-shuffled .jp-shuffle{background:url(../image/jplayer.blue.monday.jpg) -60px -270px no-repeat}.jp-state-shuffled .jp-shuffle:focus{background:url(../image/jplayer.blue.monday.jpg) -90px -270px no-repeat}.jp-no-solution{padding:5px;font-size:.8em;background-color:#eee;border:2px solid #009be3;color:#000;display:none}.jp-no-solution a{color:#000}.jp-no-solution span{font-size:1em;display:block;text-align:center;font-weight:700}

.combos-categoria{
  float: left;
  position: absolute;
  top: 20px;
  left: 230px;
}
.post-category{
  text-transform: uppercase;
}
.post-url,.post-category {
  color: white;
}

.post-url:hover,.post-category:hover {
  color: white;
}

#categorias-play, #sons-play{
  border: none;
  padding: 5px;
  border-radius: 5px;
  color: #666;
  font-size: 12px;
  font-family: verdana;
}

#sons-play{margin-top: 10px;}

.titlez{
  font-weight: bold;
  font-size: 14px;
  font-family: Roboto;
}

.compositor{
  font-size: 12px;
  font-family: Roboto;
}

.autor,.album{
  font-size: 11px;
  font-family: Roboto;
}

#player-infopost{
  width: 35%;
  height: 100%;
}

#player-infopost .center-play{
  height: 500px;
  position: absolute;
  width: 100%;
}

#player-controls{
  width: 30%;
  height: 100%;
}

#player-infomusic .toggle{
  display: none;
}
#player-infomusic{
  width: 35%;
  height: 100%;
}

@media only screen and (max-width: 767px) { 
  #player-infopost .center-play{
    min-height: 100%;
  }
  #player-infopost .center-play{
    height: auto;
    position: relative;
  }

  #player-infopost{
    width: 60%;
    float: left;
  }

  #player-controls{
    float: right;
    width: 40%;
  }

  .jp-controls{
    padding: 0 !important;
    width: 125px;
    margin: 27px auto !important;
  }

  .jp-controls .jp-previous,.jp-controls .jp-next{
    margin: 6px 10px;
  }

  #player-infomusic{
    display: none;
  }
  #post-img{
    margin-top: 10px;
  }

  #post-tipo{
    text-transform: uppercase;
    font-size: 12px;
    font-family: Roboto;
  }

  #player-infomusic{
    position: absolute;
    bottom: 0;
    width: 0%;
    overflow: hidden;
    transition: all .3s;
    display: block !important;
    margin-left: 59%;
  }
  #player-infomusic.active{ width: 62%; margin-left: 0; }
  .dados-som { height: 100%; }
  .toggle{
    display: block;
    position: absolute;
    z-index: 10;
    padding: 30px 7px; 
    background-color: #3E3D3D;
    height: 100%;
    color: white;
    cursor: pointer;
    left: 59%;
    bottom: 0px;
    transition:all .3s;

  }
  .toggle:before {
    content: "\2039";
    font-weight: bold;
    font-size: 22px;
  }
  .toggle.active:before {
    content: "\203A";
  }
  .toggle.active{
    left: 0;
  }
  #player-infomusic.active .center-play{
    padding-left: 30px;
  }

  .titlez{
    display:inline-block;
    width:190px;
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
  }
  .jp-volume-bar{
    display: none !important;
  }
  .jp-volume-bar-value{
    display: none !important;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1213px) { 
  .jp-time-holder{display: block; }
  .jp-volume-controls{ left: 40px; }
  .jp-audio .jp-type-single .jp-time-holder{ left: 20px; }
  .jp-audio .jp-controls {padding: 25px 10px 0; }
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) { 
  #player-infomusic {
    float:right;
  }
  .jp-audio .jp-type-single .jp-time-holder{
    display: none;
  }
  .jp-volume-bar{
    display: none !important;
  }
  .jp-volume-bar-value{
    display: none !important;
  }
}


@media screen and (max-width: 992px){
  .playlist-item-link {
    padding-left: 30px !important;
    display: inline-block;
  }
}