@media only screen and (min-width: 1024px) {
    .player{
        padding-top: 60px;
    }

    .player-content {
        width: 66%;
        max-width: 1000px;
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
    }
    .player-infopost #post-img {
        max-width: 450px;
        float: left;
        margin-right: 30px;
    }
    .player .jp-interface {
        width: 450px;
    }
}
.player {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    z-index: 100;
    top: 0;
    color: #fff;
    font-family: Roboto;
}
.player a {
    color: #fff;
}
.player-close {
    font-weight: 800;
    font-size: 37px;
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
}
.player-content {
    margin: 0 auto;
    min-width: 480px;
    overflow: hidden;
    height: 100%;
}


#post-img img{
    width: 100% !important; height: auto !important; max-height: none !important;
}
.player-content{
    -webkit-transition: width 0.3s;
    transition: width 0.3s;
    width: 974px;
}

.player{
    left: 0;
}

/*Ipad*/
@media only screen and (min-width: 640px) and (max-width: 1024px) {
    .player-content{
        width: calc(100% - 40px) !important;
    }
    .player-close{
        font-size: 47px;
        top: 0 !important;
    }
    .post-category{
        margin-bottom: -20px;
        display: block;
    }
}
/*mobile*/
@media only screen and (max-width: 40em) {
    .player-infomusic{
        max-height: calc(100% - 122px) !important;
    }
    .player-close{
        text-shadow: 0px 0px 18px black;
    }
}

@media only screen and (min-width: 1024px){
    .player .jp-interface {
        padding-right: 25px;
    }
    .player-content{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
}

.player-infomusic{
    max-height: calc(100% - 188px);
    margin-bottom: 0;
}

.player-infopost #post-img {
    margin-bottom: 60px;
}
.player-infopost #post-img img {
    width: 100% !important;
    height: auto !important;
    max-height: none !important;
}
.player-infopost #post-tipo {
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.player-infopost #post-nome {
    font-size: 30px;
    margin-bottom: 10px;
}
.player-infomusic {
    font-size: 18px;
    margin-bottom: 40px;
    overflow: hidden;
}
.player-infomusic .autor,
.player-infomusic .titlez,
.player-infomusic .compositor {
    margin-bottom: 15px;
}
.player .jp-progress {
    overflow: hidden;
    background-color: #ddd;
    width: 100%;
    height: 10px;
}
.player .jp-progress .jp-seek-bar {
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.player .jp-progress .jp-seek-bar .jp-play-bar {
    background: #ff0;
    width: 0;
    height: 100%;
}
.player .jp-volume-bar {
    background-color: #fff;
    background: url('/wp-content/themes/santive/images/player-volume.png');
    overflow: hidden;
    width: 170px;
    height: 35px;
    cursor: pointer;
    margin: 0 auto;
    display: block !important;
}
.player .jp-volume-bar .jp-volume-bar-value {
    background-color: #ff0;
    background-image: url('/wp-content/themes/santive/images/player-volume-t.png');
    width: 170px;
    height: 35px;
}
.player .jp-time-holder {
    overflow: hidden;
}
.player .jp-time-holder .jp-current-time {
    float: right;
    font-weight: 100;
    font-size: 16px;
    margin-top: 10px;
}
.player .jp-controls,
.player .jp-volume-bar {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
}
.player .jp-controls button {
    background: url('/wp-content/themes/santive/images/radio-controllers.png');
    border: 0;
    color: transparent;
    width: 62px;
    background-position: 0 -5px;
    height: 74px;
    margin-bottom: 20px;
    outline: none;
}
.player .jp-controls button.disabled {
    background-position: 0 -90px;
}
.player .jp-controls button.jp-play {
    background-position: -125px 0px;
    width: 85px;
    height: 85px;
    margin: 0 30px 20px 30px;
}
.player .jp-controls button.jp-pause {
    background-position: -125px -85px;
    background-repeat: no-repeat;
    width: 85px;
    margin: 0 30px 20px 30px;
    height: 85px;
    display: none;
}
.player .jp-controls button.jp-next {
    background-position-x: 62px;
}
#player-button {
    bottom: 50px;
    right: 60px;
    cursor: pointer;
    display: none;
    position: fixed;
    border-radius: 50%;
    background-color: #191919;
    width: 55px;
    height: 55px;
    background-image: url('/wp-content/themes/santive/images/player-logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 55%;
    border: 2px #ff0 solid;
}
@media only screen and (max-height: 790px) {
    .player-infopost #post-nome,
    .player-infopost #post-tipo {
        margin-bottom: 0;
    }
    .player-infopost #post-tipo {
        font-size: 15px;
    }
    .player-infomusic div {
        margin-bottom: 10px;
    }
}

@media only screen and (min-height: 1024px) and (max-width: 1600px) {
    .player {
        padding-top: 20px;
    }
}
@media only screen and (max-width: 40em) {
    .player-close{
        top: 0px;
        right: 10px;
    }

    .mCSB_inside>.mCSB_container {
        margin-right: 0px !important; 
    }
    .jp-interface{
        margin-bottom: -20px !important;
        padding-top: 10px;
    }
    #player-button {
        bottom: 20px;
        right: 20px;
    }
    .player {
        padding-top: 40px;
    }
    .player-content {
        width: calc(100% - 40px) !important;
        min-width: 0;
        display: block !important;
        margin-top: 10px;
    }
    .player-infopost #post-nome {
        font-size: 20px;
    }
    .player-infopost #post-img {
        margin-bottom: 15px;
    }
    .player-infomusic {
        margin-bottom: 10px;

    }
    .player-infomusic div {
        font-size: 14px;
    }
    .player-infomusic br {
        display: none;
    }
    .player .jp-controls.single .jp-play, .player .jp-controls.single .jp-pause {
        margin: 0;
    }
    .player .jp-controls.single {
        width: 100%;
        position: relative;
        left: -25px !important;
    }
    .player .jp-controls {
        margin: 0 auto;
        overflow: hidden;
        width: 250px;
    }
    .player .jp-controls button.jp-next,
    .player .jp-controls button.jp-previous {
        width: 50px;
        height: 60px;
        background-size: 500%;
        margin-top: 5px;
    }
    .player .jp-controls button.jp-next.disabled,
    .player .jp-controls button.jp-previous.disabled {
        background-position: 0 -130px;
    }
    .player .jp-controls button.jp-next {
        background-position-x: 50px !important;
    }
    .player .jp-controls button.jp-play,
    .player .jp-controls button.jp-pause {
        width: 65px;
        height: 65px;
        background-size: 400%;
        background-position: -98px 0px;
        margin: 0 35px;
    }
    .player .jp-controls button.jp-pause {
        background-position: -98px -65px;
    }
    .player .jp-time-holder .jp-current-time {
        font-size: 12px;
    }
    .player .jp-volume-controls {
        display: none !important;
    }
}
@media only screen and (max-height: 360px) {
    .player #post-img img {
        float: left;
        max-height: 150px;
        margin: 0 15px 20px 0;
    }
}
@-webkit-keyframes flickerAnimation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes flickerAnimation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media only screen and (min-width: 1024px) {
    .novo-layout.player .jp-interface{
        margin-top: -40px;
    }
}
@media only screen and (min-width: 768px) {
    .novo-layout.player .jp-interface{
        position: relative;
    }
    .novo-layout.player .jp-controls button.jp-play.solo,.novo-layout.player .jp-controls button.jp-pause.solo{
        margin: 0;
    }
    .novo-layout.player .jp-controls{
        position: absolute;
        top: 35px;
    }

    .novo-layout.player .jp-interface.streaming .jp-controls{
        top: 0px;
        left: -35px;
    }
    .novo-layout.player .jp-volume-controls .jp-volume-bar{
        height: 20px;
    }
    .novo-layout.player .jp-volume-controls{
        float: right;
        padding: 0;
        margin-right: -15px;
        margin-top: 25px;
    }
    .novo-layout.player .jp-controls {
        margin: 0;
        float:left;
    }
}

.overlay .overlay__ripple{
    overflow: hidden;
    border-radius: 50%;
    width: 4000px;
    height: 4000px;
    bottom: 0px;
    top: auto;
    left: auto;
    right: 0;
    -webkit-transition: all .8s;
    transition: all .8s;
    -webkit-transform: translate(50%, 50%);
            transform: translate(50%, 50%);
}

div#player-button.playing {
    display: block !important;
}

@media only screen and (max-width: 40em) {
    .overlay .overlay__ripple{
        width: 1000px;
        height: 1000px;
    }
}

.overlay .overlay__ripple.closing{
    -webkit-transition: all .8s !important;
    transition: all .8s !important;
    -webkit-transform: translate(50%, 50%) !important;
            transform: translate(50%, 50%) !important;
    width: 0;
    height: 0;
}