@media only screen and (min-width: 1024px)
    .player
        &-content
            width 66%
            max-width 1000px
            position relative
            top 50%
            transform translateY(-50%)
        &-infopost
                #post-img
                    max-width 450px
                    float left
                    margin-right 30px
        .jp-interface
            width 450px
            

.player 
    position fixed
    display none
    width 100%
    height 100%
    z-index 100
    top 0
    color white
    padding-top 60px
    font-family Roboto
    a
        color white
        
    &-close
        font-weight 800
        font-size 37px
        position fixed
        top 20px
        right 20px
        cursor pointer
        
    &-content
        margin 0 auto
        min-width 480px
        overflow hidden
        height 100%
    
    &-infopost
        #post-img
            margin-bottom 60px
            img
                width 100% !important
                height auto !important
                max-height none !important
        
        #post-tipo
            font-size 18px
            text-transform uppercase
            margin-bottom 15px
        
        #post-nome
            font-size 30px
            margin-bottom 15px
            
    &-infomusic
        font-size 18px
        margin-bottom 40px
        overflow hidden
        // max-height 200px

        .autor, .titlez, .compositor
            // white-space: nowrap; 
            margin-bottom 15px

    .jp-progress
        overflow hidden
        background-color #ddd
        width 100%
        height 10px
        
        .jp-seek-bar
            width 100%
            height 100%
            cursor pointer
            
            .jp-play-bar
                background yellow
                width 0
                height 100%
                
    .jp-volume-bar
        background-color  white
        background  url('/wp-content/themes/santive/images/player-volume.png')
        overflow hidden
        width  170px
        height  35px
        cursor pointer
        margin 0 auto
        display block !important
        
        .jp-volume-bar-value
            background-color  yellow
            background-image  url('/wp-content/themes/santive/images/player-volume-t.png')
            width  170px
            height  35px

    .jp-time-holder
        overflow hidden    
        .jp-current-time 
            float right
            font-weight 100
            font-size 16px
            margin-top 10px

    .jp-controls, .jp-volume-bar
        transform scale(0.8)
     
    .jp-controls 
        margin: 0 auto
        width: 340px
        
        button
            background url('/wp-content/themes/santive/images/radio-controllers.png')
            border 0
            color transparent
            width 62px
            background-position 0 -5px
            height 74px
            margin-bottom 20px
            outline none
            
            &.disabled 
                background-position 0 -90px
                
            &.jp-play 
                background-position -125px 0px
                width 85px
                height 85px
                margin 0 60px 20px 60px 
            
            &.jp-pause
                background-position -125px -85px
                background-repeat no-repeat
                width 85px
                margin 0 60px 20px 60px 
                height 85px
                display none
                
            &.jp-next
                background-position-x 62px
                
#player-button 
    bottom 50px
    right 60px
    cursor pointer
    display none
    position fixed
    border-radius 50%
    background-color #191919
    width 55px
    height 55px
    background-image url('/wp-content/themes/santive/images/player-logo.png')
    background-repeat no-repeat
    background-position center
    background-size 55%
    border: 2px #ffff00 solid;
    
    // &.playing
        // z-index: 10000000;

    // &.playing:after 
    //     background #191919
    //     width 120%
    //     height 130%
    //     display block
    //     content '.'
    //     color black
    //     margin -5px
    //     border-radius 50%
    //     // animation flickerAnimation 1s infinite
    
@media only screen and (max-height: 790px)
    .player-infopost 
        #post-nome, #post-tipo
            margin-bottom 0
        
        #post-tipo
            font-size 15px
      
    .player-infomusic div
        margin-bottom 10px
        

@media only screen and (min-height: 950px) and (max-width: 1600px)
    .player
        padding-top 80px

@media only screen and (max-width: 40em) 
    #player-button 
        bottom 20px
        right 20px
    .player
        padding-top 10px
        
        &-content
            width calc(100% - 40px) !important
            min-width 0
            
                
        &-infopost 
            #post-nome
                font-size 20px
            #post-img
                margin-bottom 15px
        
        &-infomusic
            margin-bottom 10px
             
            div
                font-size 14px
        
            br 
                display none
        
        .jp-controls
            width 252px
            margin 0 auto
            overflow hidden
            
            button
                &.jp-next,&.jp-previous
                    width 50px
                    height 60px
                    background-size 500%
                    margin-top 5px
                    &.disabled
                        background-position: 0 -130px;
                
                &.jp-next
                    background-position-x 50px !important

                &.jp-play,&.jp-pause
                    width 65px
                    height 65px
                    background-size 400%
                    background-position -98px 0px
                    margin 0 35px
                
                &.jp-pause
                    background-position -98px -65px
                
        .jp-time-holder .jp-current-time 
            font-size 12px
            
        .jp-volume-controls
            display none !important
        
@media only screen and (max-height: 360px)
    .player #post-img img 
        float left 
        max-height 150px
        margin 0 15px 20px 0

@keyframes flickerAnimation 
    0%    
        opacity 1 
    50%   
        opacity 0 
    100%  
        opacity 1 

